{% extends 'base.html' %}

{% block content %}
          <div class="card shadow">
            <img src="path_to_your_profile_picture.jpg" alt="Profile Picture" class="card-img-top">
            <div class="card-body text-center">
              <h2 class="card-title">Edward Arnold Yaw Gyan</h2>
              <p class="card-text">Web Developer</p>
              <!--<p class="card-text">Location</p>-->
              <hr>
              <p class="card-text">Contact Information:</p>
              <p class="card-text">Email: arnoldgyan5@gmail.com</p>
              <p class="card-text">Phone: +233 55 9698980</p>
            </div>
          </div>
{% endblock %}