<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page_title }}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/b83aefae77.js" crossorigin="anonymous"></script>
  <style>
    /* Custom styles here */
  </style>
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{url_for('home')}}">iDart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {#<form class="form-inline my-2 my-lg-0" action="{{ url_for('search_results') }}" method="post">
          <div class="input-group">
            <input class="form-control mr-sm-2" type="search" name="search_query" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" style="color:white">Search</button>
            </div>
          </div>
        </form>#}
        <li class="nav-item {% if active_page == 'home' %}active{% endif %}">
          <a class="nav-link" href="{{url_for('home')}}" style="color: white;">Home</a>
        </li>
        <li class="nav-item {% if active_page == 'about' %}active{% endif %}">
          <a class="nav-link" href="{{url_for('about')}}" style="color: white;">About/Contact</a>
        </li>
        <li class="nav-item {% if active_page == 'create_issue' %}active{% endif %}">
          <a class="nav-link" href="{{url_for('create_issue')}}" style="color: white;">Create Issue</a>
        </li>
        <li class="nav-item {% if active_page == 'logout' %}active{% endif %}">
          {% if current_user.is_authenticated %}
          <a class="nav-link" href="{{url_for('logout')}}" style="color:red">Logout</a>
          {% else %}
          <a class="nav-link" href="{{url_for('login')}}" style="color: white;">Register/Login</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>
  
  <!-- Sidebar -->
  <div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
      <nav class="col-md-2 bg-info sidebar order-1 order-md-2">
        <div class="sidebar-sticky">
          <ul class="nav flex-column" style="padding-top:20px;">
            <li class="nav-item {% if active_page == 'dashboard' %}active{% endif %}">
              <a class="nav-link" href="{{url_for('dashboard')}}" style="color: white;"><i class="fa-solid fa-gauge"></i>Dashboard</a>
            </li>
            <li class="nav-item {% if active_page == 'issues' %}active{% endif %}">
              <a class="nav-link" href="{{url_for('issues')}}" style="color: white;"><i class="fa-solid fa-list"></i>My Issues</a>
            </li>
            <li class="nav-item {% if active_page == 'profile' %}active{% endif %}">
              <a class="nav-link" href="{{url_for('profile')}}" style="color: white;"><i class="fa-solid fa-gear"></i>Settings</a>
            </li>
            <li class="nav-item {% if active_page == 'profile' %}active{% endif %}">
              <a class="nav-link" href="{{url_for('history')}}" style="color: white;"><i class="fa-solid fa-check"></i>Solved Issues/History</a>
            </li>
            <hr> 
            <li class="nav-item {% if active_page == 'login' %}active{% endif %}">
              {% if current_user.is_authenticated %}
              <a class="nav-link button btn-danger" href="{{url_for('logout')}}" style="color: white;">Logout</a>
              {% else %}
              <a class="nav-link" href="{{url_for('login')}}" style="color: white;">Login</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </nav>

      <!-- Content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        {% block content %}
        {% endblock %}
      </main>
    </div>
  </div>





  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!--<footer class="bg-primary" style="padding: 20px;"> 
    © edward arnold gyan -- arnoldgyan5@gmail.com
    </footer>--> 
</body>
</html>