<!-- edit_issue.html -->

{% extends "base.html" %}

{% block content %}
<div class="jumbotron" style="background-color:chocolate; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
  <h1>Edit issue </h1>
  </div>
  <form method="POST" action="{{ url_for('edit_issue', issue_id=issue.id) }}">
    <div>
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="{{ issue.title }}" required>
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea id="description" name="description" required>{{ issue.description }}</textarea>
    </div>
    <button type="submit">Save</button>
  </form>
{% endblock %}